body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.f{
  display: flex;
}

.asideSection{
  width: 8%;
}

.mainSection{
  width:92%;
}

.aside img{
  height:30px;
  width:30px;
  margin-left: 18px;
}

.asideIcon{
  width:70%;
  margin: auto;
}

.s{
  background-color:#FFEEF2;
  color:grey;
  box-shadow: 5px 5px 5px #888888;
}

.aside{
  height: 100vh;
}

.text{
  text-align: center;
}

.b{
  border: 1px solid pink;
  border-radius: 10%;
}

.logo{
  margin-top: 30px;
  margin-bottom: 15px;
}